# Site
title:              '>_ Bad3r'
bio:                '— A computing security enthusiast blog where I write about what I learn and what I find interesting'
description:        "— A computing security enthusiast blog where I write about what I learn and what I find interesting"
locale:             en_US
baseurl: "" # the subpath of your site, e.g. /blog
# temporary url
url: "https://bd3r.github.io/Bad3r-blog/" # the base hostname & protocol for your site
#url: "https://nifty-minsky-8f0c8b.netlify.com/" # the base hostname & protocol for your site

defaults:
- scope:
    path: ''
    type: posts
  values:
    permalink: "/blog/:title/"
    layout: post
    author: "Bad3r"

# Jekyll
permalink:          /blog/:title/
markdown:           kramdown
highlighter:        rouge
kramdown:
  auto_ids:         true
  footnote_nr:      1
  entity_output:    as_char
  toc_levels:       1..6
  # Use Kramdown coderay for syntax highlighting.
  enable_coderay:   false
mathjax:            true
sass:
  sass_dir:         _sass
  style:            compressed

# Comments
disqus_shortname:   bad3r

# Social
# to be updated and enabled after getting a domain
#analytics-id:       "default"
twitter:            bd3r_
#facebook:           default
#instagram:          default
github:             bd3r

# commented out, not needed.
# personal
#location:           Los Angeles, CA
#phone:              310-318-5555
#email:              info@default.com

# Gems/plugins
plugins:
  - jekyll-mentions
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate

paginate: 6
paginate_path: "/blog/page:num/"

jekyll-mentions:
    base_url: https://github.com


# Settings for builing master branch with travis-ci
# with jekyll-travis

# Settings for deploy rake task
# Username and repo of Github repo, e.g.
# https://github.com/USERNAME/REPO.git
# username defaults to ENV['GIT_NAME'] used by Travis
# repo defaults to USERNAME.github.io
# Branch defaults to "source" for USERNAME.github.io
# or "master" otherwise
safe: False
lsi: False
username: bd3r
repo: bad3r-blog
branch: master
relative_source: ../bad3r-blog/
destination: ./gh-pages/
production_url:  https://bd3r.github.io/bad3r-blog/
source_url:  https://github.com/bd3r/bad3r-blog/


# Exclude list
exclude: [README.md, Gemfile, Gemfile.lock, node_modules, gulpfile.js, package.json, _site, src, vendor, CNAME, LICENSE, Rakefile, old]
